/* location search */
.location-search-input {
  padding: 10px;
  width: 600px;
  font-size: 16px;
}

.autocomplete-dropdown-container {
  color: gray;
  background-color: white;
  width: 620px;
  font-size: 16px;
}

.suggestion-item {
  padding-top: 5px;
  margin-bottom: 4px;
}

/* star rating */
.filled-icons {
  color: rgb(76, 76, 76) !important;
}
