
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        form(action=`/auth/myAccount/:${user.shortId}` method="post" onsubmit="return check()")
            table
                tbody
                    tr
                    td 내 아이디
                    td: input(type="text" name="email")
                    tr
                    td 내 이름
                    td: input(type="name" name="name")
                    tr 
                    td 내 나라
                    td: input(type="name" name="country")
                    tr 
                    td 내 프로필사진
                    td: input(type="name" name="profileImage")
                    tr
                    td(colspan="2")
                      input(type="submit" value="내정보수정하기")
