
html
  head
    title= title
    
  body
    form(action="/" method="get" )
      table
        tbody
          tr
            td 임시비밀번호가 발송되었습니다. 확인해주세요.
          tr
            td 홈화면으로 돌아가기
            td: input(type="submit" value="홈화면으로돌아가기")
