
html
  head
    title= title
    
  body
    form(action="/auth/reset-password" method="post")
      table
        tbody
          tr
            td 이메일
            td: input(type="text" name="email")
          tr
            td 임시비밀번호받기
            td: input(type="submit" value="임시비밀번호받기")
