
html
    head
        title= title
    body
        form(action="/auth/change-password" method="post" onsubmit="return check()")
            table
                tbody
                    tr
                    td 현재 비밀번호
                    td: input(type="password" name="current_password")
                    tr
                    td 새 비밀번호
                    td: input(type="password" name="new_password")
                    tr
                    td 새 비밀번호 확인
                    td: input(type="password" name="new_password_confirm")
                    tr
                    td(colspan="2")
                      input(type="submit" value="비밀번호변경하기")
        script.
            function check() {

            const password = document.querySelector('[name="new_password"]').value;
            if (password.length < 8) {
                alert("최소 8자리 이상의 비밀번호를 설정 해 주세요");
                return false;
            }

            const passwordConfirm = document.querySelector('[name="new_password_confirm"]').value;
            if (password != passwordConfirm) {
                alert('비밀번호 확인이 일치하지 않습니다');
                return false;
            }
            return true;
            }
            