
html
  head
    title= title
    
  body
    form(action="/auth/login" method="post" onsubmit="return check()")
      table
        tbody
          tr
            td 이메일
            td: input(type="text" name="email")
          tr
            td 비밀번호
            td: input(type="password" name="password")
          tr
            td: a(href="/join")
              button(type="button") 회원가입
            td: input(type="submit" value="로그인")
    form(action="/auth/google" method="get" )
      table
        tbody
          tr
            td 구글로그인
            td: input(type="submit" value="구글로그인")
    script.
      function check() {
        const email = document.querySelector('[name="email"]').value
        if (!email) {
          alert("이메일을 입력 해 주세요");
          return false;
        }
        const password = document.querySelector('[name="password"]').value
        if (!password) {
          alert("비밀번호를 입력 해 주세요");
          return false;
        }
        return true;
      }