doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 제목입니다 
    body 
        h1#greeting 메인화면입니데이ㅋ
        table 
            tbody 
                tr 
                td: a.link(href='/') 홈으로
                tr 
                td: a.link(href='/join') 회원가읩
                tr 
                td: a.link(href='/login') 로그인
                tr 
                td: a.link(href='/myPage') 마이페이지
                tr 
                td: a.link(href='/logout') 로그아웃
                tr 
                td: a.link(href='/auth') 로그인한사람만볼수잇음ㅋ
