
html
    head
        title= title
        link(rel='stylesheet', href='/stylesheets/style.css')
    body
        form(action="/api/join" method="post" onsubmit="return check()")
            table
                tbody
                    tr
                    td 아이디
                    td: input(type="text" name="email")
                    tr
                    td 이름
                    td: input(type="name" name="name")
                    td 나라
                    td: input(type="name" name="country")
                    tr
                    td 비밀번호
                    td: input(type="password" name="password")
                    tr
                    td 비밀번호 확인
                    td: input(type="password" name="password_confirm")
                    tr
                    td(colspan="2")
                      input(type="submit" value="가입하기")
